# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/My First Project with Java/*
!/My First Project with Java/task/
/My First Project with Java/task/*
!/My First Project with Java/task/src

# Project exclude paths
/Topics/Arithmetic operations/Expressions/out/
/Topics/Arithmetic operations/Expressions/out/production/classes/
/Topics/Writing first program/Theory/out/
/Topics/Writing first program/Theory/out/production/classes/